@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Estedad-VF";
  src: url("./assets/fonts/statics/Estedad-Medium.woff2");
  font-weight: 400;
  color: #717171;
  font-size: 20px;
}
